.retailerCard {
    background-color: lightskyblue;
    padding: 1.5rem;
    margin: 1.5rem;
    width: 25rem;
    text-align: center;
}

ul {
    width: fit-content;
    text-align: left;
    margin: auto;
}